.table-topButton {
  margin-left: 6px;
}
#table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
}
#table > thead {
  background-color: rgb(180, 180, 180);
  border: black solid 1px;
}
#table > tbody {
  background-color: rgb(245, 245, 245);
  border: black solid 1px;
}

#table > tbody > tr:hover {
  background-color: thistle;
  cursor: pointer;
}
#table-id {
  padding: 0 20px 0 20px;
}
#table-title {
  padding: 0 165px 0 150px;
}
#table-writename {
  padding: 0 40px 0 40px;
}
#table-createdat {
  padding: 0 20px 0 20px;
}
#table-hit {
  padding: 0 10px 0 10px;
}
#tabel-bottom {
  display: flex;
  justify-content: flex-end;
  margin-right: 35vw;
  margin-top: 8px;
}
#table-bottom2 {
  display: flex;
  margin-top: 8px;
  margin-bottom: 24px;
  margin-left: 35vw;
  margin-right: 35vw;
  justify-content: space-between;
}
.tabel-pagebutton {
  margin: 0 2px 0 2px;
}
