.table-topButton {
  margin-left: 6px;
}

#table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
}
#table > thead {
  background-color: rgb(180, 180, 180);
  border: black solid 1px;
}
#table > tbody {
  background-color: rgb(245, 245, 245);
  border: black solid 1px;
}

#table > tbody > tr:hover {
  background-color: thistle;
  cursor: pointer;
}
#table-id {
  /* padding: 0 20px 0 20px; */
  width: 5vw;
}
#table-title {
  width: 20vw;
  /* padding: 0 165px 0 150px; */
}
#table-writename {
  width: 5vw;
  /* padding: 0 40px 0 40px; */
}
#table-createdat {
  width: 5vw;
  /* padding: 0 20px 0 20px; */
}
#table-hit {
  width: 5vw;
  /* padding: 0 10px 0 10px; */
}
#tabel-bottom {
  display: flex;
  justify-content: flex-end;
  margin-right: 35vw;
  margin-top: 8px;
}
#table-bottom2 {
  display: flex;
  margin-top: 8px;
  margin-bottom: 24px;
  max-width: 100vw;
  justify-content: space-between;
}
#table-search {
  margin-right: 30vw;
}
#table-pagebuttonset {
  margin-left: 30vw;
}
.tabel-pagebutton {
  margin: 0 1px 0 1px;
}

@media screen and (max-width: 1200px) {
  #table-id {
    width: 15vw;
  }
  #table-title {
    width: 35vw;
  }
  #table-writename {
    width: 15vw;
  }
  #table-createdat {
    width: 15vw;
  }
  #table-hit {
    width: 15vw;
  }
  #table-search {
    margin-right: 10px;
  }
  #table-pagebuttonset {
    margin-left: 10px;
  }
}
