#boardwrite {
  background-color: rgb(250, 250, 250);
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px black solid;
}
#boardwrite-header {
  background-color: rgb(200, 200, 200);
  display: flex;
  justify-content: space-between;
}
#boardwrite-header > * {
  margin: 8px 18px 8px 18px;
}

#boardwrite-body {
  min-height: 10vh;
}
#boardwrite-body > * {
  margin: 12px;
}
#boardwrite-content {
  min-height: 200px;
}
#boardwrite-button {
  display: flex;
  justify-content: flex-end;
}
#boardwrite-submit {
  margin-right: 8px;
  margin-bottom: 8px;
}
